header{
    background-color: #043442 ; 
    text-align: center; 
    color: #E5E7E7 ;
 }
body{
    background-color : #E5E7E7 ;
    color: #043442;
    font-family: montserrat;
}		
footer{
   background-color: #043442 ; 
    text-align: center; 
    color: #E5E7E7 ;
}
